body {
  font-family: Arial, sans-serif;
  background-color: #240A34;
}
.todo-applist{

  vertical-align: middle;
  font-family: Arial, sans-serif;
  background-color: #7469B6;
  padding: 10px;
  border-radius: 5px;
  margin: 150px 35% 100px 35%;

}
