.completed-task {
  text-decoration: line-through;
  color: #d3d3d3;
}


.todo-input:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

.todo-ul {
  margin: 5px 15% 5px 15%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
}

.tittle {
  font-size: 45px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
}

.comt {
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
